
.IconTODOList-Actions
{
    width: 25px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    height: 20px;
}

.TODOList-row a
{
    /* padding:16px 49px 16px 16px !important; */
    text-decoration: none !important;
}

.TODOList-row 
{
    /*padding-bottom: 6px;*/
    /* background-color: aliceblue; */
}

.TODOList-text
{
    position: relative;
    font-weight: bold;
    font-size: large;
    position: relative;
    top: -px;
}

.TODOList-icon
{
}

.TODOList-icon-true
{   color:red;
    top:-5px;
}
.TODOList-icon-false
{
    color:blue;
    top:-10px;
}

.TODOListItemEmptyList
{
    font-weight: 100;
    height: 200px;
    /* vertical-align: middle; */
    display: inline-flex;
    width: 100%;
}

.TODOListItemEmptyList div {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin: auto auto;
    width: 100%;
    font-size: large;
}

.TODOSearchInput
{
    font-size: medium !important;
}

.TODOListItem-Separator-Completed
{
    /*
    border-radius: 10px;
    border-width: 0px 0px 0px 0px;
    margin: 5px;
    width: 50%;
    background-color: darkgray;
    */
}

.TODOListItem-Separator-Active
{
    /* 
    border-radius: 10px;
    border-width: 0px 0px 0px 0px;
    margin: 5px;
    width: 50%;
    background-color: darkgray;
    */
}

.item
{

    border-width: 0px 0px 0px 0px !important;
}

.checkbox-P1 input:before,
.checkbox-P1 .checkbox-icon:before {
    border-color: red;
    background: #F3867A;
}

.checkbox-P1 input:checked:before,
.checkbox-P1 input:checked + .checkbox-icon:before {
    background: red;
    border-color: red;
}

.checkbox-P2 input:before,
.checkbox-P2 .checkbox-icon:before 
{
    border-color: orange;
    background: #F3CBA3;
}

.checkbox-P2 input:checked:before,
.checkbox-P2 input:checked + .checkbox-icon:before {
    background: orange;
    border-color: orange;
}

.checkbox-P3 input:before,
.checkbox-P3 .checkbox-icon:before {
    border-color: blue;
    background: #B9F3F7;
}

.checkbox-P3 input:checked:before,
.checkbox-P3 input:checked + .checkbox-icon:before {
    background: blue;
    border-color: blue;
}

.checkbox-P4 input:before,
.checkbox-P4 .checkbox-icon:before {
    border-color: black;
    background: #DCDCDC;
}

.checkbox-P4 input:checked:before,
.checkbox-P4 input:checked + .checkbox-icon:before {
    background: black;
    border-color: black;
}


