<ion-view view-title="List: {{listName}}" style="left: 0px; right: 0px;margin-left: 0px;margin-right: 0px;">
    <ion-nav-buttons side="right" >
        <button ng-show="showCancelButton()" 
              class="button button-icon icon ion-ios-close-outline" 
              style="padding-left: 0px;padding-right: 0px;"
              ng-click="data.showDelete = false; data.showReorder = false">
        </button>
        <button class="button button-icon icon ion-ios-plus-outline" 
                style="padding-left: 0px;padding-right: 0px;"
                ng-click="OpenEditor()"
                ng-show="!showCancelButton()" >
        </button>

        <button class="button button-icon icon ion-compose" 
                style="padding-left: 0px;padding-right: 0px;"
                ng-click="editList();"
                ng-show="!showCancelButton()" >
        </button>
        <button class="button button-icon icon ion-android-search" 
                style="padding-left: 0px;padding-right: 0px;"
                ng-click="showFilterBar()"
                ng-show="!showCancelButton()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="item in items"  class="item-avatar item-icon-left">
                <div class="row" ng-style="item.checked && {'text-decoration': 'line-through'}" >
                    <div class="col">
                        <ion-reorder-button class="ion-navicon" 
                                            on-reorder="moveItem(item, $fromIndex, $toIndex)">
                        </ion-reorder-button>
                        <ion-delete-button class="ion-minus-circled" 
                                           ng-click="onItemDelete(item)">
                        </ion-delete-button>
                    </div>
                    <div class="col" ng-show="!data.showDelete && !data.showReorder">
                        <li class="icon" >
                            <label class="checkbox">
                                <input type="checkbox" ng-model="item.checked" ng-click="updateChecked(item)">
                            </label>
                        </li>
                    </div>
                    <div class="col col-75" ng-click="OpenEditor(item)">
                        {{item.title}}
                    </div>
                    <div class="col col-25" >{{item.qty}} {{item.unit}}</div>
                </div>
            </ion-item>
        </ion-list>
        <div ng-show="!items">
            <span>List is empty - Addd an item to your list using the "+" button.</span>
        </div>
    </ion-content>
</ion-view>
