<ion-view >
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
          <a class="button icon-left ion-arrow-left-a" ui-sref="chat.chatRoomsRecent"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            {{roomName}}
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button icon-right ion-close-round" ui-sref="app.home" ></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding" >
        <section class="chats">
            <span ng-repeat="message in messages">
                <span ng-show="!message.notification">
                    <p class="username" ng-show="!messageIsMine(message.userId)">{{message.userName}}</p>
                    <div ng-class='getBubbleClass(message.userId)'>
                        <p ng-bind="message.message"></p>
                        <p class="chat-timestamp" >{{message.createdOn | date:'hh:mma'}}</p>
                    </div>
                    <div class="clear"></div>
                </span>
                <span ng-show="message.notification">
                    <p class="notification" ng-bind="message.message"></p>
                </span>
            </span>
        </section>
    </ion-content>
    <form name="sendMessageForm" ng-submit="sendMessage(data.message)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <input id="msg-input" ng-change="updateTyping()" ng-model="data.message" class="input-message" type="text" placeholder="Message">
            </label>
            <div class="footer-btn-wrap"> 
                <button class="button button-icon icon ion-ios-paperplane footer-btn" type="submit"
                        ng-disabled="!data.message || data.message === ''">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
