<ion-view title="Chat Rooms">
    <ion-nav-bar class="bar-positive">
        <ion-nav-title>
            Chat Rooms
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button icon-right ion-close-round" href="#/app/map"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list">
            <a ng-repeat="(key, room) in defaultChatRooms" class="item item-avatar" 
               href="#/chat/chatConversation/{{key}}" ng-click="chatRoomSelected(key);">
                <img ng-if="!room.picture" ng-src="{{defaultChatRoomPicture}}">
                <img ng-if="room.picture" ng-src="{{room.picture}}">
                <h2>{{room.title}}</h2>
                <p>{{room.caption}}</p>
                <span class="badge badge-assertive" ng-model="newMessages"></span>
            </a>
        </div>
    </ion-content>
</ion-view> 