<div class="center">
    <div class="row">
        <div class="col">
            <img ng-src="img/SVG/Freepik/picture64.svg" border="0" style="width:40px; height:40px" ng-click="tagEvent('Photo');" />
        </div>
        <div class="col">
            <img ng-src="img/SVG/Freepik/warning92.svg" border="0" style="width:40px; height:40px"  ng-click="tagEvent('Warning');" />
        </div>
        <div class="col">
            <img ng-src="img/SVG/Freepik/collision.svg" border="0" style="width:40px; height:40px"  ng-click="tagEvent('Collision');" />
        </div>
    </div>
    <div class='row'>
        <div class="col">
            <img ng-src="img/SVG/Freepik/facebook.svg" border="0" style="width:40px; height:40px" ng-click="tagEvent('Facebook');" />
        </div>
        <div class="col">
            <img ng-src="img/SVG/Freepik/twitter.svg" border="0" style="width:40px; height:40px"  ng-click="tagEvent('Twitter');" />
        </div>
        <div class="col">
            <img ng-src="img/SVG/Freepik/write12.svg" border="0" style="width:40px; height:40px"  ng-click="tagEvent('Note');" />
        </div>
    </div>
</div>