<ion-view hide-nav-bar="true" view-title="NavETA">
    <ion-header-bar id="viewMap-header" align-title="left" class="item-input-inset bar-positive" ng-if="showHeader">
        <!-- button class="button icon ion-ios-navigate"></button -->
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <label class="item-input-wrapper" style="margin-left:10px;">
            <i class="icon ion-search placeholder-icon"></i>
            <!-- <input id="whereToGoTextBox"  googleplace=""  type="text" location="location" placeholder="Where to go?" ng-model="selectedPlaceText" class="ng-pristine ng-valid" autocomplete="off"> -->
            <ion-google-place id="whereToGoTextBox" placeholder="Where to go?" mapCenter="getLastKnownLatLng()" ng-model="selectedPlace" ng-change="placeSelected(selectedPlace);" />
            <!-- <i class="icon ion-close-round" style="width:14px;color:gray;z-index:20" ng-click="clearSearch();"> -->
        </label>
        <!--button class="button icon ion-ios-navigate-outline" ng-click="showAvailableRoutesView();"></button -->
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-header-bar>
    <ion-content class="has-header " >
        <div id="map"  data-tap-disabled="true" ng-show="isAppOnline" ></div>
        <div id="offLinemap" style="display:table;width:100%;height:100%" ng-show="!isAppOnline">
            <center style="display: table-cell;vertical-align: middle;">
                <div><img ng-src="img/no_wifi.png" style="width:150px; height:150px;"> </div>
                <div style="font-size: -webkit-large;padding-bottom: 20px;">No Internet</div>
            </center>
        </div>


        <div id="imgCompass" ng-click="mapCompassClicked();" ng-show="!isNavigationModeON">
            <i class="icon ion-navigate" style="width:40px;heigh:40px;margin-left: 10px !important; z-index: 2000;"> </i>
        </div>
        <!-- img id="imgCompass" ng-click="mapCompassClicked();" ng-show="!isNavigationModeON" ng-src="img/SVG/Freepik/compass.svg" style="width:40px;heigh:40px;margin-left: 10px !important; z-index: 2000;" -->

        <ion-drawer-vertical-wrapper id="viewMap-drawerTop" direction="down" state="closed" delegate-handle="top">
            <ion-drawer-vertical-content>

                <img src="img/Marketing/ct_sample_coupon.jpg"  style="width:100%;height:100%" />

            </ion-drawer-vertical-content>
            <ion-drawer-vertical-handle />
        </ion-drawer-vertical-wrapper> 
        <ion-drawer-vertical-wrapper id="viewMap-drawerButtom" style="outline: 4px !important;" class="has-footer"  direction="up" state="closed" delegate-handle="bottomDrawer">
            <ion-drawer-vertical-content>
                <div style="height:100px;" class="routeStatus">
                    <div class="NavETA-Separator" >
                        <div class="row no-padding">
                            <div class="col routeStatus-ETA-Time">
                                <div class="routeStatus-ETA-Time">
                                    <div class="row no-padding">
                                        <div class="col">
                                        </div>
                                        <div class="col col-10"> <!-- ng-click="openChat();" -->
                                            <a  ui-sref="chat.chatRoomsRecent" >
                                                <img ng-src="img/SVG/Freepik/crowd.svg" border="0" style="width:30px; height:30px"   />
                                                <span class="badge-chatIcon badge badge-assertive">3</span>
                                            </a>
                                        </div>
                                        <div class="col col-10">
                                            <!--img ng-src="img/SVG/Freepik/man-silhouette1.svg" border="0" style="width:30px; height:30px"   / -->
                                        </div>
                                        <div class="col col-50" style="text-align:center;top:-17px" ng-click="openVerticalBlind('bottomDrawer')" on-swipe-down="openVerticalBlind('bottomDrawer');"on-swipe-up="openVerticalBlind('bottomDrawer');">
                                            <div class="row no-padding">
                                                <div class ="col no-padding" onclick="document.getElementById('whereToGoTextBox').focus();";>
                                                    {{selectedRouteIndex === null ?  "| Where to go? |" : "| " + selectedRoute.legs[0].arrival_time.text + " |"}}  
                                                </div>
                                            </div>
                                            <div class="row no-padding">
                                                <div class ="col no-padding" style="font-size:16px;">
                                                    {{selectedRouteIndex === null ?  "mins - km" : selectedRoute.legs[0].duration.text +" - " + selectedRoute.legs[0].distance.text}}  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-10">
                                            <!-- img ng-src="img/SVG/Freepik/transport58.svg" border="0" style="width:30px; height:30px"   / -->
                                        </div>
                                        <div class="col col-10" ng-click="showAvailableRoutesView();"> <!-- /div>toggleTransitInfo();" -->
                                            <img ng-src="img/SVG/Freepik/vehicle12.svg" border="0" style="width:30px; height:30px"  ng-class="{'iconActivated':showTransitInfo, '':!showTransitInfo}" />
                                        </div>
                                        <div class="col">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col routeStatus-ETA-Min-Distance">
                                <span ng-show="selectedRouteIndex != null">
                                    {{selectedRoute.legs[0].end_address}} 
                                </span>
                                <span ng-show="selectedRouteIndex == null">-</span>
                            </div>
                        </div>
                    </div>
                    <div style="background-color:#f0eef1;position:relative;top:-17px">
                        <div class="row routeStatus-ButtonRow">
                            <div class="col col-33 NavETA-Button" ng-click="showAvailableRoutesView();">
                                <img ng-src="img/SVG/Freepik/map29.svg" border="0" style="width:30px; height:30px"   />
                                <br>
                                Routes
                            </div>
                            <div class="col col-33 NavETA-Button" ng-click="tagEvent('Note');">
                                <img ng-src="img/SVG/Freepik/send12.svg" border="0" style="width:30px; height:30px"   />
                                <br>
                                Send ETA
                            </div>
                            <div class="col col-33 NavETA-Button"  ng-click="cancelRoute();">
                                <img ng-src="img/SVG/Freepik/delete85.svg" border="0" style="width:30px; height:30px"  />
                                <br>
                                Cancel
                            </div>
                        </div>
                    </div>
                </div>
            </ion-drawer-vertical-content>
            <ion-drawer-vertical-handle />
        </ion-drawer-vertical-wrapper>                                                 
    </ion-content>
</ion-view>