<div class="modal">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Route - from/to</h1>
        <!-- div class="button button-clear" ng-click="availableRoutesDialog.hide()"><span class="icon ion-close"></span></div -->
    </ion-header-bar>
    <ion-content has-header="true" scroll="true">
        <ion-list card  ng-show="availableRoutes">
            <ion-item class="item-No-Padding">
                <ion-list card >
                    <!--angular begins-->
                    <ion-item class="route-recomendation item-No-Padding" ng-repeat="route in availableRoutes">
                        <div class="route-summary-main-" ng-repeat="leg in route.legs|orderBy: duration.value">
                            <!--Route Summary: begins-->
                            <div class="route-summary" ng-click="routeSelected($parent.$index);" accesskey="{{$parent.$index}}">
                                <img src="img/SVG/Freepik/clock.svg" height="20" width="20">
                                <div>
                                    <text class="route-summary-dep-arr">{{leg.departure_time.value | date:'hh:mma'}} - {{leg.arrival_time.value | date:'hh:mma'}}</text>
                                    <text class="route-summary-dur">{{leg.duration.text}}</text>
                                </div>
                            </div>
                            <div class="route-details" ng-show="route{{$parent.$index}}">
                                <div class="route-details-item-start">
                                    <div class="route-details-time"><span>{{leg.departure_time.value | date:'hh:mma'}}</span></div>
                                    <div class="route-transit-visual-start"></div>
                                    <div class="route-transit-instruction" ng-bind-html="leg.start_address"></div>
                                    <hr />
                                </div>
                                <div class="route-details-item" ng-repeat="step in leg.steps">
                                    <div ng-init="routeDepartureTime=leg.departure_time.value" id="route-transit-{{$parent.$parent.$index}}{{$parent.$index}}{{$index}}" class="route-transit">
                                        <table>
                                            <!-- header-->
                                            <tr class="step-row-header">
                                                <td>
                                                    <div class="step-time">8:39am</div>
                                                </td>
                                                <td> 
                                                    <div class="step-circle"></div>
                                                </td>
                                                <td>
                                                    <div class="step-address">Thornhill, ON L4J3A1</div>
                                                </td>
                                            </tr>

                                            <!-- loop for step -->
                                            <tr class="step-row-details">
                                                <td>
                                                    <div><img class="step-img" src="../img/SVG/Freepik/walk.svg"></div>
                                                </td>
                                                <td class="step-v-icon">

                                                </td>
                                                <td class="step-details">
                                                    <div>Walk</div>
                                                    <div>About 10 min</div>
                                                    <div class="step-downArrow"></div>
                                                </td>
                                            </tr>
                                            <!-- end --> 
                                        </table>


                                        <div class="route-details-time">
                                            <text ng-if="false" ng-init="routeDepartureTime = routeDepartureTime.getTime() + (step.duration.value *1000)">
                                                {{routeDepartureTime | date:'hh:mma'}}
                                            </text>
                                        </div>
                                        <!-- ICON --> 
                                        <img ng-if="step.travel_mode == 'WALKING'" class="route-transit-visual-TransitType"
                                             ng-src="img/SVG/Freepik/walk.svg" height="20" width="20" />

                                        <div ng-if="step.travel_mode == 'TRANSIT'" class="route-transit-visual-TransitType"
                                             style="border-style: solid; border-width: 1px;border-bottom-style:inset; border-bottom-width:4px; border-bottom-color:{{step.transit.line.color}}">
                                            <img ng-src="img/SVG/Freepik/{{getVehicleTypeImageName(step.transit.line.vehicle.type)}}" height="20" width="20" />
                                            <text style="font-size:larger;font-weight:bolder">{{step.transit.line.short_name}}</text>
                                        </div>

                                        <div id="route-transit-visual-{{$parent.$parent.$index}}{{$parent.$index}}{{$index}}"
                                             class="route-transit-visual-{{step.travel_mode}}">
                                        </div>
                                        <div class="route-transit-instruction">
                                            <text ng-bind-html="step.instructions"></text>
                                        </div>
                                        <div class="route-transit-summary">
                                            <!--Toggler  onclick="toggleResize(this, 'route-details-instructions');" -->
                                            <img ng-click="route-details-instructions" class="route-transit-summaryToggleImg" id="route-transit-summaryToggleImg{{$parent.$parent.$index}}{{$parent.$index}}{{$index}}"
                                                 ng-show="step.steps" ng-src="img/SVG/Freepik/arrow-down-bold.svg" style="width:10px;height:10px;"
                                                 accesskey="{{$parent.$parent.$index}}{{$parent.$index}}{{$index}}" />
                                            <img ng-show="!step.steps"
                                                 style="width:10px;height:10px;" />

                                            <text>About {{step.duration.text}}, </text>
                                            <text ng-if="step.travel_mode == 'WALKING'"> {{step.distance.text}}</text>
                                            <text ng-if="step.travel_mode == 'TRANSIT'"> {{step.transit.num_stops}} stops</text>
                                        </div>
                                        <ul id="route-details-instructions{{$parent.$parent.$index}}{{$parent.$index}}{{$index}}" class="route-details-instructions">
                                            <li class="" ng-repeat="step_into in step.steps">
                                                <text ng-bind-html="step_into.instructions" ng-if="step_into.instructions"></text> ({{step_into.distance.text}})
                                            </li>
                                        </ul>
                                    </div>
                                    <hr />
                                </div>
                                <div class="route-details-item-end">
                                    <div class="route-details-time"><span>{{leg.arrival_time.value | date:'hh:mma'}}</span></div>
                                    <div class="route-transit-visual-finish"></div>
                                    <div class="route-transit-instruction" ng-bind-html="leg.end_address"></div>
                                </div>
                            </div>
                            <!--Step: Ends-->
                        </div>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </ion-content>
</div>


