<div class="modal">

    <ion-header-bar class="bar-positive">
        <div class="button button-clear" ><span class="icon ion-ios-location"></span></div>
        <h1 class="title">{{modalEventTitle}}</h1>
        <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content has-header="true">

        <div class="list">
            <label class="item item-input">
                <textarea id='eventText' placeholder="What's happening?" ng-model="modal.eventCaption"></textarea>
            </label>
            <div class="item">
                <i class="ion-ios-location-outline"></i>
                <span class="tagEventView-location">Near {{userClickLatLngPlaceText}}</span>
            </div>
            <div class="item" >
                <img border="0" ng-src="{{imgSelectedURI}}"  style="width:100%;height:100%"/>
            </div>
        </div>
        <!-- img  border="0" style="width:90%; height:auto" src="http://placehold.it/300x300" ng-src="{{imgSelectedURI}}"/ -->
    </ion-content>
    <ion-footer-bar>
        <div class="bar bar-footer">
            <button class="button icon button-icon ion-ios-camera" ng-click="takePicture('CAMERA');"></button>
            <button class="button icon button-icon ion-images" ng-click="takePicture('PHOTOLIBRARY');"></button>

            <h1 class="title"></h1>
            <button style="width:40px; margin: 0px 2px 0px 15px;" class="button button-stable icon" ng-click="publishTwitter=!publishTwitter" 
                    ng-class="{'ion-social-twitter-outline  button-dark':publishTwitter, 'ion-social-twitter-outline  button-stable':!publishTwitter}"></button>

            <button style="width:40px; margin: 0px 2px 0px 2px;" class="button button-stable icon" ng-click="publishFacebook=!publishFacebook" 
                    ng-class="{'ion-social-facebook-outline  button-dark':publishFacebook, 'ion-social-facebook-outline  button-stable':!publishFacebook}"></button>

            <button style="width:40px; margin: 0px 2px 0px 2px;" class="button button-stable icon" ng-click="publishGooglePluss=!publishGooglePluss" 
                    ng-class="{'ion-social-googleplus-outline  button-dark':publishGooglePluss, 'ion-social-googleplus-outline  button-stable':!publishGooglePluss}"></button>

            <button class="button button-positive" ng-click="publishEvent();">Post</button>

        </div>
    </ion-footer-bar>
</div>