<ion-view view-title="User Preferences">
    <ion-nav-buttons side="right">
        <a class="button icon-right" ng-click="saveUserProfile();"  >Save</a>
    </ion-nav-buttons>
    <ion-content>
        <div ng-show="!IsAuthenticated()"> 
            <div id="profile-top" >
                <img id="profile-image" ng-src="img/SVG/Freepik/Avatar-Male.svg">
            </div>
            <div  id="user-not-registered">
                <a menu-close href="#/app/signIn">
                    Not Registered
                </a>
            </div>
        </div>

        <div ng-show="IsAuthenticated()"> 
            <div id="profile-top" >
                <img id="profile-image" ng-src="{{getProfilePicture()}}">
            </div>

            <div  id="user-registered" ng-click="unAuthorizeClient();">
                {{getProfileName()}}
            </div>
        </div>

        <div class="card ">
            <label  class="item item-divider ">
                User Info:
            </label>
            <label class="item item-input ">
                <span class="input-label">Name:</span>
                <input type="text" value="" type="text" ng-model="user.name">
            </label>
            <label class="item item-input ">
                <span class="input-label">Display Name:</span>
                <input type="text" value="" type="text" ng-model="user.nickName">
            </label>
            <label  class="item item-input item-select">
                <span class="input-label">Language:</span>
                <select ng-model="user.language">
                    <option value="en" >English</option>
                    <option value="es">Spanish</option>
                    <option value="fr">French</option>
                </select>
            </label>
            <label  class="item item-divider ">
                Addresses:
            </label>
            <label  class="item item-input ">
                <span class="input-label">Home Address:</span>
                <input  type="text" ng-model="user.homeAddress">
            </label>
            <label  class="item item-input ">
                <span class="input-label" >Work Address:</span>
                <input  type="text" ng-model="user.workAddress">
            </label>

        </div>
        <a ng-show="IsAuthenticated()" href="#/app" ng-click="unAuthorizeClient();" class="button button-block button-positive">
            Unregister
        </a>
    </ion-content>
</ion-view>
