
<ion-pane has-deader="false"  style="position:absolute; top:60px !important;" scroll="true">
   <ion-list card>
    <div class="item item-divider item-icon-right" >
        Saved Location
         <i class="icon ion-ios-close-outline" ng-click="UserPlaceSearchDialog.hide();"></i>
    </div>
    <a href="#" class="item item-icon" ng-click="addressSelected('2 Steles St east, Toronto')">
        <img src="img/SVG/Freepik/Bus.svg" style="width:20px;height:20px;" />
        <span>2 Steles St east, Toronto</span>
    </a>
    <a href="#" class="item item-icon" ng-click="addressSelected(lastKnownPlaceText)">
        <img src="img/SVG/Freepik/compass.svg" style="width:20px;height:20px;" />
        <span>{{lastKnownPlaceText}}</span>
        
    </a>
    <div class="item item-divider">
        Recent Searches
    </div>
    <a href="#" class="item item-icon"  ng-repeat="savedSearch in SavedSearches" data-icon="false" 
     ng-click ="addressSelected('{{savedSearch.Search}}')">
        <img ng-src="img/SVG/Freepik/history2.svg" style="width:20px;height:20px;" />
        <span >{{savedSearch.Search}}</span>
    </a>
    </ion-list>
</ion-pane>

